* {
    box-sizing: border-box;
}

h3 {
    font-family: 'Inconsolata';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;
}

img {
    margin:50px 50px;
    width: 25%;
    height: auto;
float: left;
}
